<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/card-classe.css">
    <link rel="stylesheet" href="/css/bouton-header.css">
</head>
<body>
    <%- include('../components/menu.ejs') %>
    <%- include('../components/asimov.ejs') %>

    <button class="header-asimov"><span>+</span> Ajouter une classe</button>


    <div class="main">
        <h2>Vos classes</h2>

        <div class="classes">
            <div style="float: left;" class="classe">
                <h3>Test</h3>
                <p class="total-eleve">10 élèves</p>
                <p class="trois-petits-points">⋮</p>
            </div>
            <div style="float: right;" class="classe">
                <h3>Test</h3>
                <p class="total-eleve">10 élèves</p>
                <p class="trois-petits-points">⋮</p>
            </div>
        </div>

        
    </div>


</body>
</html>