@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

* {
    margin: 0;
    padding: 0;
}

div.main {
    display: block;
    position: relative;
    left: 20%;
    width: 70%;
}

div.main h2 {
    width: 50%;
    color: #3e4b4b;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;
    position: relative;
    left: 50px;
    top: 80px;
}